/*
  Style for Archives
*/

#archives {
  letter-spacing: 0.03rem;

  $timeline-width: 4px;

  %timeline {
    content: '';
    width: $timeline-width;
    position: relative;
    float: left;
    background-color: var(--timeline-color);
  }

  .year {
    height: 3.5rem;
    font-size: 1.4rem;
    font-family: 'WAGURITTF';
    position: relative;
    left: 2px;
    margin-left: -$timeline-width;

    &::before {
      @extend %timeline;

      height: 72px;
      left: 79px;
      bottom: 16px;
    }

    &:first-child::before {
      @extend %timeline;

      height: 32px;
      top: 24px;
    }

    /* Year dot */
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      left: 8px;
      border: 3px solid;
      background-color: var(--timeline-year-dot-color);
      border-color: var(--timeline-node-bg);
      box-shadow: 0 0 2px 0 #c2c6cc;
      z-index: 1;
    }
  }
  ul {
    li {
      font-size: 1.1rem;
      line-height: 3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:nth-child(odd) {
        background-color: var(--main-bg, #ffffff);
        background-image: linear-gradient(
          to left,
          #ffffff,
          #fbfbfb,
          #fbfbfb,
          #fbfbfb,
          #ffffff
        );
      }

      &::before {
        @extend %timeline;

        top: 0;
        left: 77px;
        height: 3.1rem;
      }
    }

    &:last-child li:last-child::before {
      height: 1.5rem;
    }
  } /* #archives ul */

  .date {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    right: 0.5rem;

    &.month {
      width: 1.4rem;
      text-align: center;
    }

    &.day {
      font-size: 80%;
    }
  }

  a {
    /* post title in Archvies */
    margin-left: 2.5rem;
    position: relative;
    top: 0.1rem;

    &:hover {
      border-bottom: none;
    }

    &::before {
      /* the dot before post title */
      content: '';
      display: inline-block;
      position: relative;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      float: left;
      top: 1.35rem;
      left: 71px;
      background-color: var(--timeline-node-bg);
      box-shadow: 0 0 3px 0 #c2c6cc;
      z-index: 1;
    }
  }
  .summary {
    margin-left: 7rem;
    font-size: 0.85rem;
    line-height: 1.2; /* 줄 간격을 1.2배로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
  }
} /* #archives */
.column-list {
	display: flex;

}
.skillbox {
	display: flex;

}
.column-image {
  width: 20%;
}
.column-image {
	padding: 0 1em;
}
.skill-name{
  font-size: 0.85rem;
}
.column{
  width:80%
}
.skill-name {
  text-align: center;
}


@media all and (max-width: 576px) {
  #archives {
    .summary {
      margin-left: 5rem;
      font-size: 0.85rem;
      line-height: 1.2; /* 줄 간격을 1.2배로 설정 */
    }
    letter-spacing: 0.03rem;
    ul {
      li {
        font-size: 0.9rem; 
        height: 50px;
      &::before {
        height: 72px;
        left: 60px;
        bottom: 16px;
        }
      }
    }
  
    .year{
      height: 3.0rem;
      font-size: 1.0rem;
      left: 2px;
      &:first-child::before {
        height: 38px;
        top: 10px;
        left: 62px;
      }
      &::before {
        height: 63px;
        left: 62px;
        bottom: 16px;
      }
    }
    .date {
      white-space: nowrap;
      display: inline-block;
      position: relative;
      right: 0.5rem;
  
      &.month {
        width: 1.0rem;
        text-align: center;
      }
  
      &.day {
        font-size: 70%;
      }
    }
    a {
      margin-left: 1.5rem;
      &::before {
        // width: 8px;
        // height: 8px;
        float: left;
        top: 1.35rem;
        left: 54px;
      }
    }
  }

  .column-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  // .skill-name{
  //   display: none;
  // }
  .column-image {
    width: 30%;
  }
  .column{
    width:80%
  }
  

}
